<div class="max-w-7xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid md:grid-cols-5 gap-10">
    <div class="md:col-span-2">
      <div class="max-w-xs">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground">{{ faq.title }}</h2>
        <p class="mt-1 hidden md:block text-foreground/60">{{ faq.subtitle }}</p>
      </div>
    </div>
    <div class="md:col-span-3">
      <!-- Accordion -->
      <div class="hs-accordion-group divide-y divide-border">
        {% for item in faq.faqs %}
          <div class="hs-accordion pt-6 pb-3 {% if forloop.first %}active{% endif %}"
               id="faq-accordion-{{ item.id }}">
            <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-foreground transition hover:text-foreground/70"
                    aria-controls="faq-accordion-content-{{ item.id }}">
              {{ item.question }}
              <i class="ph ph-duotone ph-caret-down hs-accordion-active:hidden block shrink-0 size-5 text-foreground/70 group-hover:text-foreground/50"></i>
              <i class="ph ph-duotone ph-caret-up hs-accordion-active:block hidden shrink-0 size-5 text-foreground/70 group-hover:text-foreground/50"></i>
            </button>
            <div id="faq-accordion-content-{{ item.id }}"
                 class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 {% if not forloop.first %}hidden{% endif %}"
                 aria-labelledby="faq-accordion-{{ item.id }}">
              <p class="text-foreground/60">{{ item.answer }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- End Accordion -->
    </div>
  </div>
  <!-- End Grid -->
</div>
