<div class="w-full">
  <div data-hs-carousel='{ "loadingClasses": "opacity-0", "dotsItemClasses": "hs-carousel-active:bg-primary hs-carousel-active:border-primary size-3 border border-border/30 rounded-full cursor-pointer", "isAutoPlay": true, "isInfiniteLoop": true, "interval": 5000 }'
       class="relative">
    <div class="hs-carousel relative overflow-hidden w-full min-h-[500px] sm:min-h-[600px] bg-card">
      <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
        {% for slide in hero.slides %}
          <div class="hs-carousel-slide relative w-full">
            <img src="{{ slide.image.url }}"
                 alt="{{ slide.title|default:'Slide Image' }}"
                 class="w-full h-full object-cover">
            <div class="absolute inset-0">
              <div class="absolute bottom-0 left-0 px-8 py-12 sm:p-16 w-full  bg-gradient-to-t from-black/80 to-transparent">
                {% if slide.title or slide.subtitle %}
                  <div class="space-y-2 mb-6">
                    {% if slide.title %}<h2 class="text-4xl font-bold text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">{{ slide.title }}</h2>{% endif %}
                    {% if slide.subtitle %}<p class="text-xl text-white/80 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">{{ slide.subtitle }}</p>{% endif %}
                  </div>
                  {% if slide.cta_text %}
                    <a href="{{ slide.cta_url }}"
                       class="inline-flex items-center px-6 py-3 text-sm text-black font-bold bg-accent hover:bg-accent/90 rounded-lg transition">
                      {{ slide.cta_text }}
                    </a>
                  {% endif %}
                {% else %}
                  {% if slide.cta_text %}
                    <div class="flex">
                      <a href="{{ slide.cta_url }}"
                         class="inline-flex items-center px-8 py-4 text-lg text-black font-bold bg-accent hover:bg-accent/90 rounded-full transition shadow-lg">
                        {{ slide.cta_text }}
                      </a>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <button type="button"
            class="hs-carousel-prev hs-carousel-disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-[46px] h-full text-card hover:bg-background/20 focus:outline-none focus:bg-background/20 rounded-s-lg">
      <span class="text-2xl" aria-hidden="true">
        <i class="ph ph-duotone ph-caret-left"></i>
      </span>
      <span class="sr-only">Previous</span>
    </button>
    <button type="button"
            class="hs-carousel-next hs-carousel-disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-[46px] h-full text-card hover:bg-background/20 focus:outline-none focus:bg-background/20 rounded-e-lg">
      <span class="sr-only">Next</span>
      <span class="text-2xl" aria-hidden="true">
        <i class="ph ph-duotone ph-caret-right"></i>
      </span>
    </button>
    <div class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"></div>
  </div>
</div>
