<div class="relative overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10 lg:py-14">
    <!-- Title -->
    <div class="max-w-2xl text-center mx-auto mb-10">
      <h1 class="block text-3xl font-bold text-foreground sm:text-4xl md:text-5xl">{{ contact.map.title }}</h1>
      <p class="mt-3 text-lg text-foreground/60">{{ contact.map.subtitle }}</p>
    </div>
    <!-- Map Container -->
    <div class="mt-10 relative max-w-5xl mx-auto">
      <!-- Clickable Map Link -->
      <a href="{{ contact.map.map_url }}"
         target="_blank"
         rel="noopener noreferrer"
         class="block relative group">
        <!-- Map Image -->
        <div class="w-full object-cover h-96 sm:h-[480px] bg-no-repeat bg-center bg-cover rounded-xl transition"
             style="background-image: url('{{ contact.map.image.url }}')"></div>
        <!-- Map Pin Overlay -->
        <div class="absolute inset-0 size-full pointer-events-none">
          <div class="flex flex-col justify-center items-center size-full">
            <span class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-full border border-border backdrop-blur-xl bg-card/10  text-foreground shadow-sm transition group-hover:bg-accent/10">
              <i class="ph ph-duotone ph-map-pin text-xl"></i>
              {{ contact.map.address }}
            </span>
          </div>
        </div>
      </a>
      <!-- Decorative Elements -->
      <div class="absolute bottom-12 -start-20 -z-[1] size-48 bg-gradient-to-b from-primary to-background p-px rounded-lg">
        <div class="bg-background size-48 rounded-lg"></div>
      </div>
      <div class="absolute -top-12 -end-20 -z-[1] size-48 bg-gradient-to-t from-accent/50 to-accent p-px rounded-full">
        <div class="bg-background size-48 rounded-full"></div>
      </div>
    </div>
  </div>
</div>
