<div class="text-center">
  <img class="{% if management %}rounded-xl sm:size-48 lg:size-60{% else %}rounded-full size-24{% endif %} mx-auto"
       src="{{ member.image.url }}"
       alt="{{ member.name }}">
  <div class="mt-2 sm:mt-4">
    <h3 class="{% if management %}text-sm font-medium sm:text-base lg:text-lg{% else %}font-medium{% endif %} text-foreground">
      {{ member.name }}
    </h3>
    <p class="{% if management %}text-xs sm:text-sm lg:text-base{% else %}text-sm{% endif %} text-foreground/60">
      {{ member.position }}
    </p>
  </div>
</div>
