<div class="max-w-7xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Management Section -->
  <div class="mb-20">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground">Our Leadership</h2>
      <p class="mt-1 text-foreground/60">Guiding Humana Apparels towards excellence</p>
    </div>
    <!-- Management Grid -->
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8 md:gap-12">
      {% for member in team.management %}
        {% include "partials/team_card.html" with management=True %}
      {% endfor %}
    </div>
  </div>
  <!-- Team Section -->
  <div>
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground">Our Team</h2>
      <p class="mt-1 text-foreground/60">The people behind our success</p>
    </div>
    <!-- Team Grid -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-8 md:gap-12">
      {% for member in team.staff %}
        {% include "partials/team_card.html" with management=False %}
      {% endfor %}
    </div>
    <!-- Careers Card -->
    <div class="mt-12 flex justify-center">
      <div class="border border-border py-2 px-3 rounded-full">
        <div class="flex items-center gap-x-3">
          <span class="text-sm text-foreground/60">Want to work with us?</span>
          <a class="inline-flex items-center gap-x-2 text-sm font-medium text-primary hover:text-primary/90 transition"
             href="{% url "career" %}">
            We are hiring
            <i class="ph ph-duotone ph-caret-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
